
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-12 col-sm-12">
        <h2  class="mt-2">Employee Resignation Request</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <strong>Resignation</strong>
            </li>
            <li class="breadcrumb-item active">
                <strong>Employee Resignation Request</strong>
            </li>
        </ol>
    </div>
</div>



<div class="wrapper wrapper-content pt-3 animated fadeInRight mb-4 pt-sm-1">
    <div class="row m-t-sm mt-0">
        <div class="col-md-12 mb-4 pl-0 pr-0">

            <div class="ibox">
                <div class="ibox-content border-radius-5">

                    <div class="row">
                        <div class="col-12 header p-1">
                            <h4 class="title pl-2">{{ showTitle }}</h4>

                            <i class="toggle-icon pr-2" [ngClass]="{'flipped': !showEmployeeResignationRequestList, 'unflipped': showEmployeeResignationRequestList}" (click)="toggleEmployeeResignationRequest()">
                                <i class="pl-2 fa" [ngClass]="{'fa-list-ul': showEmployeeResignationRequestList, 'fa-plus': !showEmployeeResignationRequestList}" aria-hidden="true"></i>
                            </i>

                        </div>

                    </div>


                    <div class="row">
                        <div class="col-12" [@fadeInRight]="showEmployeeResignationRequestList ? 'show' : 'hide'"  [hidden]="!showEmployeeResignationRequestList" @fadeRight>
                            <app-add-employee-resignation-request></app-add-employee-resignation-request>
                        </div>
            
                        <div class="col-12 p-0" [hidden]="showEmployeeResignationRequestList" [@fadeInRight]="showEmployeeResignationRequestList ? 'hide' : 'show'"> 
                            <app-employee-resignation-request-list></app-employee-resignation-request-list>
                        </div>
                    </div>
          

                </div>
            </div>
        </div>
    </div>

</div>



