<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <h2 class="mt-2"> <i class="icofont-ui-settings"></i> | Employee Settlement Setup</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <strong>Settlement</strong>
            </li>
            <li class="breadcrumb-item active">
                <strong>Employee Settlement Setup</strong>
            </li>
        </ol>
    </div>
</div>





<div class="wrapper wrapper-content pt-3 animated fadeInRight mb-4 pt-sm-1">
    <div class="row m-t-sm mt-0">
        <div class="col-md-12 mb-4 pl-0 pr-0">

            <div class="ibox">
                <div class="ibox-content border-radius-5">

                    <div class="row">
                        <div class="col-12 header p-1">
                            <h4 class="title pl-2">{{ showTitle }}</h4>

            
                            <i class="toggle-icon pr-2" [ngClass]="{'flipped': !showPendingList, 'unflipped': showPendingList}" (click)="toggleEmployeeResignationRequest()">
                                <i class="pl-2 fa fa-arrow-right"  aria-hidden="true"></i>
                            </i>
                            
                            

                        </div>

                    </div>


                    <div class="row">
                        <div class="col-12" [@fadeInRight]="showPendingList ? 'show' : 'hide'"  [hidden]="!showPendingList" @fadeRight>
                            <app-employee-settlement-setup-pending-list></app-employee-settlement-setup-pending-list>
                        </div>
            
                        <div class="col-12" [hidden]="showPendingList" [@fadeInRight]="showPendingList ? 'hide' : 'show'"> 
                            <app-employee-settlement-setup-list></app-employee-settlement-setup-list>
                        </div>
                    </div>
          

                </div>
            </div>
        </div>
    </div>

</div>