<ng-template #modal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            <i class="btn btn-sm btn-success btn-circle fa fa-cogs" aria-hidden="true"></i>|
            Update Approved Monthly Variable Allowance
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal('Cross click')"><span
                aria-hidden="true">×</span></button>
    </div>
    <div class="text-x-small font-bold text-dark">
        <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col-md-6 col-sm-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-addon text-dark">
                                    <i class="fa fa-users"></i>
                                </span>
                            </div>
                            <div style="width:80%">
                                <ng-select2 [data]="ddlEmployees" name="employees" formControlName="employeeId" [disabled]="true"
                                    id="employeesRef" [placeholder]="'Select Employee...'" [options]="select2Options"
                                    [allowClear]="true" required>
                                </ng-select2>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-addon text-dark">
                                    <i class="fa fa-money"></i>
                                </span>
                            </div>
                            <div style="width:80%">
                                <ng-select2 [data]="ddlAllowances" name="allowanceNames" [disabled]="true"
                                    formControlName="allowanceNameId" [placeholder]="'Select Allowance Name...'"
                                    [options]="select2Options" [allowClear]="true" required>
                                </ng-select2>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-addon text-dark">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                            <div class="input-group-prepend">
                                <select name="salaryMonth" formControlName="salaryMonth" [disabled]="true"
                                    class="form-control form-control-sm">
                                    <option [value]="0" selected>---Select Month---</option>
                                    <option [value]="item.monthNo" *ngFor="let item of ddlMonths">
                                        {{item.month}}</option>
                                </select>
                            </div>
                            <div class="input-group-prepend">
                                <select name="salaryYear" formControlName="salaryYear"
                                    class="form-control form-control-sm">
                                    <option [value]="0" selected>---Select Year---</option>
                                    <option [value]="item" *ngFor="let item of ddlYears">{{item}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-addon text-dark">
                                    <i>&#2547;</i>
                                </span>
                            </div>
                            <input type="number" formControlName="amount" class="form-control form-control-sm"
                                name="amount">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-primary btn-rounded" type="submit" [disabled]="form.invalid || btnSubmit">
                    <i class="fa fa-paper-plane"></i> | Update
                    <span [hidden]="!btnSubmit" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span>
                </button>
                <button class="btn btn-sm btn-danger btn-rounded" type="button" [disabled]="btnSubmit"
                    (click)="closeModal('Cancel click')">
                    <i class="fa fa-times"></i> | Cancel
                </button>
            </div>
        </form>
    </div>
</ng-template>