<div  class="spinner-div">
    <div class="sk-spinner sk-spinner-cube-grid spinner text-success">
        <div class="sk-cube"></div>
        <div class="sk-cube"></div>
        <div class="sk-cube"></div>
        <div class="sk-cube"></div>
        <div class="sk-cube"></div>
        <div class="sk-cube"></div>
        <div class="sk-cube"></div>
        <div class="sk-cube"></div>
        <div class="sk-cube"></div>
    </div>
    <div class="col-md-12 col-sm-12 spinner-text">
        <h4 class="text-center">Please wait...</h4>
        <h5 class="">Salary is being proceed...</h5>
    </div>
</div>
