<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <h2 @slideInUp class="mt-2">Salary Process & Detail</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <strong>Payroll</strong>
            </li>
            <li class="breadcrumb-item">
                <strong>Salary</strong>
            </li>
            <li class="breadcrumb-item active">
                <strong>Salary Process & Detail</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content pt-3">
    <div class="row m-t-sm mt-0" *ngIf="isViewPage" @fadeIn>
        <div class="col-md-12 text-x-small">
            <div class="ibox shadow-sm">
                <div class="ibox-content pb-1 shadow-lg text-x-small">
                    <div class="form-row">
                        <div class="form-group col-md-6 col-sm-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-addon animated-hover">
                                        <i class="fa fa-search faa-pulse"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control form-control-sm" placeholder="Search by anything">
                            </div>
                        </div>
                        <!-- <div class="form-group col-md-3 col-sm-12"></div>
                        <div class="form-group col-md-3 col-sm-12"></div> -->
                        <div class="form-group col-md-6 col-sm-12">
                            <button type="button" class="btn btn-sm btn-success btn-rounded float-right"
                                (click)="showPage()"><i class="fa fa-cogs"></i> | Salary Process</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 mb-4 text-x-small">
            <div class="ibox shadow-sm">
                <div class="ibox-content pb-1 shadow-lg text-x-small">
                    <div class="table-responsive">
                        <table class="table table-sm table-hover table-striped table-responsive-xl"
                            id="tblSalaryProcess">
                            <thead>
                                <tr class="text-center">
                                    <th>#SL</th>
                                    <th>Batch</th>
                                    <th>Salary Date</th>
                                    <th>Month & Year</th>
                                    <th>Total Employees</th>
                                    <th>Total Hold Amount</th>
                                    <th class="hide">Total New Joiner</th>
                                    <th class="hide">Total Separated</th>
                                    <th>Total Allowance</th>
                                    <th>Total Arrear Allowance</th>
                                    <th>Total Deduction</th>
                                    <th>Total Monthly Tax</th>
                                    <th>Gross Pay</th>
                                    <th>Net Pay</th>
                                    <th>Is Disbursed</th>
                                    <th>Entry Date</th>
                                    <th class="hide">Update Date</th>
                                    <th class="text-centen">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of listOfsalaryProcess; let i = index">
                                    <td class="text-center font-bold">{{i+1}}</td>
                                    <td class="text-center">{{item.batchNo}}</td>
                                    <td class="text-center">{{item.salaryDate | date:"dd-MMMM-yyyy"}}</td>
                                    <td class="text-center">{{item.processDate | date:"MMMM-yyyy"}}</td>
                                    <td class="text-center">
                                        {{item.totalEmployees}}
                                    </td>
                                    <td class="text-right">{{item.totalAllowance}}</td>
                                    <td class="text-right">{{item.totalArrearAllowance}}</td>
                                    <td class="text-right">{{item.totalDeduction}}</td>
                                    <td class="text-right">{{item.totalMonthlyTax}}</td>
                                    <td class="text-right">{{item.totalGrossPay}}</td>
                                    <td class="text-right">{{item.totalNetPay}}</td>
                                    <td class="text-center">
                                        <span class="label label-primary" *ngIf="item.isDisbursed"><i
                                                class="fa fa-check"></i>{{'Yes'}}</span>
                                        <span class="label label-warning" *ngIf="!item.isDisbursed">
                                            {{'No'}}</span>
                                    </td>
                                    <td class="text-center">{{item.createdDate | date:"dd-MMMM-yyyy hh:mm:ss
                                        a"}}
                                    </td>
                                    <td class="text-center hide">{{item.updatedDate | date:"dd-MMMM-yyyy
                                        hh:mm:ss
                                        a"}}
                                    </td>
                                    <td>
                                        <button type="button"
                                            (click)="openSalaryProcessStatusModal(item.salaryProcessId)"
                                            class="btn btn-xs" *ngIf="!item.isDisbursed">
                                            <i class="fa fa-hand-pointer-o" aria-hidden="true"></i>
                                        </button>
                                        <button type="button"
                                            (click)="getSalaryProcessDetails(item.salaryProcessId)"
                                            class="btn btn-xs text-info">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-t-sm mt-0">
        <div class="col-md-12 mb-4" *ngIf="!isViewPage" @fadeIn>
            <div class="ibox-title pt-1">
                <h5 class="mb-0 text-dark">
                    <a class="btn btn-circle btn-sm btn-success" title="Back to list" (click)="showPage()"><i
                            class="fa fa-arrow-left text-white"></i> </a>
                    | Salary Process <i class="fa fa-cogs"></i>
                </h5>
            </div>
            <div class="row">
                <div class="col-md-12 text-x-small">
                    <div class="ibox-content shadow-sm">
                        <div class="form-row">
                            <div class="form-group col-md-4 col-sm-12 mb-1">
                                <label for="salaryProcessType" class="control-label font-bold">Process Type</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon bg-dark-blue text-white">
                                            <i class="fa fa-cog"></i>
                                        </span>
                                    </div>
                                    <select name="salaryProcessType" id="salaryProcessType"
                                        class="form-control form-control-sm" #salaryProcessTypeRef="ngModel"
                                        [(ngModel)]="salaryProcessType" (change)="processtype_changed()">
                                        <option value="">--Select Process--</option>
                                        <option [value]="'Systemically'">Systemically</option>
                                        <option [value]="'Uploaded Component'">Uploaded Component</option>
                                        <option [value]="'Uploaded Salary-Sheet'">Uploaded Salary-Sheet</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-4 col-sm-12 mb-1">
                                <label for="month" class="control-label font-bold">Salary Month & Year</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon bg-dark-blue text-white">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                    <select name="month" id="month" class="form-control form-control-sm"
                                        [(ngModel)]="processMonth" #processMonthRef="ngModel"
                                        (change)="monthYear_salaryDate_changed()">
                                        <option value="">--Month--</option>
                                        <option [value]="month.monthNo" *ngFor="let month of months">{{month.month}}
                                        </option>
                                    </select>
                                    <div class="input-group-prepend">
                                        <select name="year" id="year" class="form-control form-control-sm"
                                            #processYearRef="ngModel" [(ngModel)]="processYear"
                                            (change)="monthYear_salaryDate_changed()">
                                            <option value="">--Year--</option>
                                            <option [value]="2022">2022</option>
                                            <option [value]="2023">2023</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-4 col-sm-12 mb-1">
                                <label for="salaryDate" class="control-label font-bold">Salary Date</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon bg-dark-blue text-white">
                                            <i class="fa fa-calendar-check-o"></i>
                                        </span>
                                    </div>
                                    <input type="text" name="salaryDate" id="salaryDate" #salaryDateRef="ngModel"
                                        [(ngModel)]="salaryDate" class="form-control form-control-sm bg-white"
                                        (ngModelChange)="monthYear_salaryDate_changed()" readonly
                                        placeholder="Select Salary Date.." title="Salary Date" bsDatepicker
                                        [bsConfig]="datePickerConfig">
                                    <div class="input-group-prepend cursor-pointer border-left-0" title="Remove Date"
                                        [hidden]="salaryDate== null"
                                        (click)="[salaryDate = null,monthYear_salaryDate_changed()]">
                                        <span class="input-group-addon text-danger">
                                            <i class="fa fa-times"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-x-small" *ngIf="salaryProcessType == 'Uploaded Component'" @fadeIn>
                    <div class="ibox">
                        <div class="ibox-footer">
                            <div class="clearfix">
                                <button type="submit" [disabled]="uploadedComponentSalaryProcessForm.invalid"
                                    class="btn btn-success btn-rounded btn-sm ml-1 pull-right"
                                    (click)="runSalaryProcess()">
                                    <i class="fa fa-cogs"></i> | Run Process
                                    <span [hidden]="!btnProcess" class="spinner-border spinner-border-sm" role="status"
                                        aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-x-small" *ngIf="salaryProcessType == 'Systemically'" @fadeIn>
                    <div class="ibox">
                        <div class="ibox-content">
                            <div class="form-row">
                                <div class="form-group col-md-6 col-sm-12 mb-1">
                                    <label for="executionOn" class="control-label font-bold">Execution On</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-addon bg-dark-blue text-white">
                                                <i class="fa fa-cog"></i>
                                            </span>
                                        </div>
                                        <select name="executionOn" id="executionOn" class="form-control form-control-sm"
                                            #executionOnRef="ngModel" [(ngModel)]="executionOn"
                                            (change)="executionOn_changed()">
                                            <option value="">--Select Execution--</option>
                                            <option [value]="'All'">All</option>
                                            <option [value]="'Branch'">Branch</option>
                                            <option [value]="'Department'">Department</option>
                                            <option [value]="'Selected Employees'">Selected Employees</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-12 mb-1" *ngIf="executionOn == 'Branch'">
                                    <label for="processBranchId" class="control-label font-bold">Branch</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-addon bg-dark-blue text-white">
                                                <i class="fa fa-building-o"></i>
                                            </span>
                                        </div>
                                        <select name="processBranchId" id="processBranchId"
                                            class="form-control form-control-sm" #processBranchIdRef="ngModel"
                                            [(ngModel)]="processBranchId" (change)="processBranch_changed()">
                                            <option [value]="0" selected>--Select Branch--</option>
                                            <option [value]="item.value" *ngFor="let item of branches">{{item.text}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-12 mb-1" *ngIf="executionOn == 'Department'">
                                    <label for="processDepartmentId" class="control-label font-bold">Department</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-addon">
                                                <i class="fa fa-building-o"></i>
                                            </span>
                                        </div>
                                        <select name="processDepartmentId" id="processDepartmentId"
                                            class="form-control form-control-sm" #processDepartmentIdRef="ngModel"
                                            [(ngModel)]="processDepartmentId" (change)="processDepartment_changed()">
                                            <option [value]="0" selected>--Select Department--</option>
                                            <option [value]="item.id" *ngFor="let item of departments">{{item.text}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-8 mb-1"  *ngIf="executionOn == 'Selected Employees'">
                                    <label for="uploadedfile" class="control-label font-bold hidden">Uploaded File</label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input id="inputGroupFile01" type="file" class="custom-file-input">
                                            <label class="custom-file-label" for="inputGroupFile01">Choose
                                                Excel/CSV file</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="form-row" *ngIf="executionOn == 'Selected Employees'">
                                <div class="form-group col-md-6 col-sm-12 mb-1">
                                    <label for="employee" class="control-label font-bold">Select Employe Singely</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-addon bg-dark-blue text-white">
                                                <i class="fa fa-user-circle-o"></i>
                                            </span>
                                        </div>
                                        <input type="text" name="employee" id="employee"
                                            class="form-control form-control-sm" [typeahead]="employees"
                                            typeaheadOptionField="text" [isAnimated]="false"
                                            placeholder="Type Employee Name Here..."
                                            (typeaheadOnSelect)="employeeOnSelect($event)" autocomplete="off"
                                            [typeaheadMinLength]="0" [typeaheadScrollable]="true">
                                        <div class="input-group-prepend cursor-pointer"
                                            *ngIf="selectedEmployee !=null && selectedEmployee!= ''"
                                            (click)="selectedEmployee=null">
                                            <span class="input-group-addon  text-danger">
                                                <i class="fa fa-times"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-12 mb-1">
                                    <label for="commaemployee" class="control-label font-bold">Select Employe Comma Separatedly</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-addon bg-dark-blue text-white">
                                                <i class="fa fa-user-circle-o"></i>
                                            </span>
                                        </div>
                                        <input type="text" name="commaemployee" id="commaemployee"
                                            class="form-control form-control-sm" [(ngModel)]="commaSeparatedEmployee"
                                            placeholder="Type Comma Separated Employee Code Here..." autocomplete="off">
                                        <div class="input-group-prepend cursor-pointer"
                                            (click)="loadEmployeeByCommaSeparatedData()">
                                            <span class="input-group-addon">
                                                <i class="fa fa-search"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row" *ngIf="executionOn == 'Selected Employees'">
                                <div class="form-group col-md-12 col-sm-12 mt-2 mb-1">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover table-responsive-xl">
                                            <thead class="bg-light-blue text-white">
                                                <tr>
                                                    <th class="text-center">#SL</th>
                                                    <th>Employee</th>
                                                    <th class="text-center">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of employeesList; let i=index" @fadeIn @fadeOutLeft>
                                                    <td class="text-center font-bold">{{i+1}}</td>
                                                    <td>{{item.text}}</td>
                                                    <td class="text-center">
                                                        <button type="button" class="btn btn-xs btn-danger"
                                                            (click)="deleteEmployee(item.id)">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-footer" *ngIf="executionOn == 'All'">
                            <div class="clearfix">
                                <button type="submit" [disabled]="allEmployeeSalaryProcessForm.invalid"
                                    class="btn btn-success btn-rounded btn-sm ml-1 pull-right"
                                    (click)="runSalaryProcess()">
                                    <i class="fa fa-cogs"></i> | Run Process
                                    <span [hidden]="!btnProcess" class="spinner-border spinner-border-sm" role="status"
                                        aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                        <div class="ibox-footer" *ngIf="executionOn == 'Branch'">
                            <div class="clearfix">
                                <button type="submit" [disabled]="branchWiseSalaryProcessForm.invalid"
                                    class="btn btn-success btn-rounded btn-sm ml-1 pull-right"
                                    (click)="runSalaryProcess()">
                                    <i class="fa fa-cogs"></i> | Run Process
                                    <span [hidden]="!btnProcess" class="spinner-border spinner-border-sm" role="status"
                                        aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                        <div class="ibox-footer" *ngIf="executionOn == 'Department'">
                            <div class="clearfix">
                                <button type="submit" [disabled]="departmentWiseSalaryProcessForm.invalid"
                                    class="btn btn-success btn-rounded btn-sm ml-1 pull-right"
                                    (click)="runSalaryProcess()">
                                    <i class="fa fa-cogs"></i> | Run Process
                                    <span [hidden]="!btnProcess" class="spinner-border spinner-border-sm" role="status"
                                        aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                        <div class="ibox-footer" *ngIf="executionOn == 'Selected Employees'">
                            <div class="clearfix">
                                <button type="submit" [disabled]="selectedEmployeestWiseSalaryProcessForm.invalid"
                                    class="btn btn-success btn-rounded btn-sm ml-1 pull-right"
                                    (click)="runSalaryProcess()">
                                    <i class="fa fa-cogs"></i> | Run Process
                                    <span [hidden]="!btnProcess" class="spinner-border spinner-border-sm" role="status"
                                        aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <form [formGroup]="uploadedComponentSalaryProcessForm" (ngSubmit)="runSalaryProcess()">
                        <div class="ibox-content">
                            <div class="form-row">
                                <div class="form-group col-md-3 col-sm-12">
                                    <label for="processBy" class="control-label hide">Process By</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="">
                                                <i class="fa fa-cog"></i>
                                            </span>
                                        </div>input-group-addon bg-dark-blue text-white
                                        <select name="processBy" id="processBy" class="form-control form-control-sm"
                                            formControlName="processBy" title="Salary Process By" [ngClass]="{'is-invalid':
                                        ((salaryProcessForm.get('processBy').touched ||
                                        salaryProcessForm.get('processBy').dirty) &&
                                        salaryProcessForm.get('processBy').errors)}"
                                            [class.is-valid]="salaryProcessForm.get('processBy').valid ">
                                            <option [value]="''">--Select Process--</option>
                                            <option [value]="'Systemically'">Systemically</option>
                                            <option [value]="'Uploaded Component'">Uploaded Component</option>
                                            <option [value]="'Uploaded Salary-Sheet'">Uploaded Salary-Sheet</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <label for="salaryMonthAndYear" class="control-label hide">
                                        Month & Year
                                    </label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-addon bg-dark-blue text-white">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                        <select name="salaryMonthAndYear" id="salaryMonthAndYear"
                                            class="form-control form-control-sm" title="Month & Year"
                                            formControlName="monthYear" [ngClass]="{'is-invalid':
                                            ((salaryProcessForm.get('monthYear').touched ||
                                            salaryProcessForm.get('monthYear').dirty) &&
                                            salaryProcessForm.get('monthYear').errors)}"
                                            [class.is-valid]="salaryProcessForm.get('monthYear').valid ">
                                            <option [value]="''">--Select Month & Year--</option>
                                            <option [value]="'06-2022'">June-2022</option>
                                            <option [value]="'07-2022'">July-2022</option>
                                            <option [value]="'08-2022'">August-2022</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <label for="salaryDate" class="control-label hide">
                                        Salary Date
                                    </label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-addon bg-dark-blue text-white">
                                                <i class="fa fa-calendar-check-o"></i>
                                            </span>
                                        </div>
                                        <input type="text" name="salaryDate" id="salaryDate" [ngClass]="{'is-invalid':
                                        ((salaryProcessForm.get('salaryDate').touched ||
                                        salaryProcessForm.get('salaryDate').dirty) &&
                                        salaryProcessForm.get('salaryDate').errors)}"
                                            [class.is-valid]="salaryProcessForm.get('salaryDate').valid "
                                            class="form-control form-control-sm bg-white" readonly
                                            placeholder="Select Salary Date.." title="Salary Date"
                                            formControlName="salaryDate" bsDatepicker [bsConfig]="datePickerConfig">
                                        <div class="input-group-prepend cursor-pointer" title="Remove Date"
                                            [hidden]="salaryProcessForm.get('salaryDate').value== null"
                                            (click)="salaryProcessForm.get('salaryDate').setValue(null)">
                                            <span class="input-group-addon text-danger">
                                                <i class="fa fa-times"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <div class="clearfix pull-right">
                                        <button type="submit" class="btn btn-success btn-rounded btn-sm ml-1"
                                            >
                                            <i class="fa fa-cogs"></i> | Run Process
                                            <span [hidden]="!btnProcess" class="spinner-border spinner-border-sm"
                                                role="status" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-content">
    
                        </div>
                    </form> -->
            </div>
        </div>
    </div>
</div>

<div class="spinner-div" *ngIf="btnProcess == true">
    <div class="sk-spinner sk-spinner-cube-grid spinner text-success">
        <div class="sk-cube"></div>
        <div class="sk-cube"></div>
        <div class="sk-cube"></div>
        <div class="sk-cube"></div>
        <div class="sk-cube"></div>
        <div class="sk-cube"></div>
        <div class="sk-cube"></div>
        <div class="sk-cube"></div>
        <div class="sk-cube"></div>
    </div>
    <div class="col-md-12 col-sm-12 spinner-text">
        <h4 class="text-center">Please wait...</h4>
        <h5 class="">Salary is being proceed...</h5>
    </div>
</div>

<ng-template #salaryProcessDetailModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            <i class="btn btn-sm btn-success btn-circle 
            fa fa-clock-o"></i>| Salary Process Details
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span
                aria-hidden="true">×</span></button>
    </div>
    <div class="text-x-small font-bold text-dark">
        <div class="modal-body">
            <table class="table table-hover table-striped table-responsive-xl">
                <thead>
                    <tr class="text-center">
                        <th class="text-center">#SL</th>
                        <th>Employee</th>
                        <th class="text-center">Designation</th>
                        <th class="text-center">Days</th>
                        <th class="text-center">Month & Year</th>
                        <th class="text-center">This Month Basic</th>
                        <th class="text-center">Total Allowance</th>
                        <th class="text-center">Total Arrear Allowance</th>
                        <th class="text-center">Total Deduction</th>
                        <th class="text-center">Total Monthly Tax</th>
                        <th class="text-center">Bonus Amount</th>
                        <th class="text-center">Gross Pay</th>
                        <th class="text-center">Net Pay</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listOfsalaryProcessDetail; let i =index">
                        <td class="text-center font-bold">{{i+1}}</td>
                        <td>{{item.employeeName}}</td>
                        <td class="text-center">{{item.designationName}}</td>
                        <td class="text-center">{{item.calculationForDays}}</td>
                        <td class="text-center">{{item.salaryDate | date:"MMMM-yyyy"}}</td>
                        <td class="text-center">{{item.thisMonthBasic}}</td>
                        <td class="text-center">{{item.totalAllowance}}</td>
                        <td class="text-center">{{item.totalArrearAllowance}}</td>
                        <td class="text-center">{{item.totalDeduction}}</td>
                        <td class="text-center">{{item.totalMonthlyTax}}</td>
                        <td class="text-center">{{item.totalBonus}}</td>
                        <td class="text-center">{{item.grossPay}}</td>
                        <td class="text-center">{{item.netPay}}</td>
                        <td></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="text-center">
                        <td>Total</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{this.footerOfsalaryProcessDetail?.totalAllowance}}</td>
                        <td></td>
                        <td>{{this.footerOfsalaryProcessDetail?.totalDeduction}}</td>
                        <td></td>
                        <td></td>
                        <td>{{this.footerOfsalaryProcessDetail?.grossPay}}</td>
                        <td>{{this.footerOfsalaryProcessDetail?.netPay}}</td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="modal-footer hide p-2">
        </div>
    </div>
</ng-template>

<ng-template #salaryProcessCheckingModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            <i class="btn btn-sm btn-success btn-circle 
            fa fa-clock-o"></i>| Salary Process Info
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span
                aria-hidden="true">×</span></button>
    </div>
    <div class="text-x-small font-bold text-dark">
        <form #salaryProcessDisbursedOrUndoForm="ngForm"
            (ngSubmit)="submitSalaryProcessDisbursedOrUndo(processActionName.value)">
            <div class="modal-body">
                <table class="table table-sm table-striped table-hover table-responsive-xl">
                    <tbody>
                        <tr>
                            <td >Batch No</td>
                            <td>{{processObjChecking?.batchNo}}</td>
                            <td >Salary Date</td>
                            <td>{{processObjChecking?.salaryDate | date: "dd-MMMM-yyyy"}}</td>
                            <td >Month & Year</td>
                            <td>{{processObjChecking?.processDate | date:"MMMM-yyyy"}}</td>
                        </tr>
                        <tr>
                            <td >Total Employee(s)</td>
                            <td>{{processObjChecking?.totalEmployees}}</td>
                            <td >Total Allowance</td>
                            <td>{{processObjChecking?.totalAllowance}}</td>
                            <td >Total Arrea Allowance</td>
                            <td>{{processObjChecking?.totalArrearAllowance}}</td>
                        </tr>
                        <tr>
                            <td >Total Deduction</td>
                            <td>{{processObjChecking?.totalDeduction}}</td>
                            <td >Total Monthly Tax</td>
                            <td>{{processObjChecking?.totalMonthlyTax}}</td>
                            <td >Gross Pay</td>
                            <td>{{processObjChecking?.totalGrossPay}}</td>
                        </tr>
                        <tr>
                            <td >Net Pay</td>
                            <td>{{processObjChecking?.totalNetPay}}</td>
                            <td >Is Disbursed</td>
                            <td>
                                <span class="label label-primary" *ngIf="processObjChecking.isDisbursed">
                                    <i class="fa fa-check"></i>{{'Yes'}}
                                </span>
                                <span class="label label-warning" *ngIf="!processObjChecking.isDisbursed">
                                    {{'No'}}</span>
                            </td>
                            <td >Action</td>
                            <td>
                                <select name="salaryProcessCheckingAction" id="salaryProcessCheckingAction"
                                    class="form-control form-control-sm" #processActionName>
                                    <option [value]="''">---Select Action---</option>
                                    <option [value]="'Disbursed'">Disbursed</option>
                                    <option [value]="'Undo Process'">Undo Process</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer p-2">
                <button class="btn btn-sm btn-primary btn-redius-none" type="submit"
                    [disabled]="salaryProcessDisbursedOrUndoForm.invalid || btnProcess">
                    <i class="fa fa-paper-plane"></i> | Submit
                    <span [hidden]="!btnProcess" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span>
                </button>
            </div>
        </form>
    </div>
</ng-template>