<!-- Supplementary Amount -->
<!-- Supplementary Payment Process -->

<div class="row wrapper border-bottom white-bg page-heading pb-2">
    <div class="col-md-8 col-sm-6">
        <h2 @slideInUp class="mt-1"><i class="icofont-money-bag"></i> | Once Off Payment</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <strong>Payroll</strong>
            </li>
            <li class="breadcrumb-item">
                <strong>Salary</strong>
            </li>
            <li class="breadcrumb-item active">
                <strong>Once Off</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content pt-3">
    <div class="row m-t-sm mt-0">
        <div class="col-md-12 mb-4 text-x-small pl-0 pr-0">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li>
                        <a href="#supplementaryPaymentProcess" data-toggle="tab" class="nav-link active">
                            <i class="fa fa-list"></i> | Process Summary
                        </a>
                    </li>
                    <li>
                        <a href="#supplementaryAmount" data-toggle="tab" class="nav-link">
                            <i class="fa fa-money"></i> | Amount Info
                        </a>
                    </li>

                </ul>
                <div class="tab-content">
                    <div id="supplementaryPaymentProcess" class="tab-pane active">
                        <app-payroll-supplementary-process-info></app-payroll-supplementary-process-info>
                    </div>
                    <div id="supplementaryAmount" class="tab-pane">
                        <app-payroll-supplementary-amount></app-payroll-supplementary-amount>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>