
/* Custom card styling */
.custom-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    width: 100%;
    max-width: 100%; 
    margin: 0 auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  
  .custom-card:hover {
    margin-top: 1px;
    transform: translateY(-0.5px) translateX(-0.3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); 
  }
  
  .card-header {
    background-color: #007bff;
    color: #fff;
    padding: 15px 5px 5px 5px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  
  
  
  
  
  .card-title {
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .card-text {
    font-size: 10px;
    margin-bottom: 5px;
  }
  
  .card-container {
    height: auto;
    max-height: 330px;
    overflow-y: auto;
  }

  @media screen and (max-width: 768px) {
      .card-container {
          max-height: 500px; 
      }
  }

  
  .card-body {
    padding: 0.2rem;
  }
  