<div class="table-responsive" *ngIf="excelColumn != null && excelJsonData !=null">
    <table class="table table-striped table-hover table-bordered table-responsive-lg">
        <thead >
            <th class="text-center" *ngFor="let item of this.excelColumn">{{item}}</th>
        </thead>
        <tbody>
            <tr *ngFor="let i of this.excelJsonData">
                <td *ngFor="let j of i" class="text-center">
                    {{j}}
                </td>
            </tr>
        </tbody>
    </table>
</div>