<ng-template #gradeModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            <i class="btn btn-sm btn-outline-secondary btn-circle icofont-badge" aria-hidden="true"></i>| {{modalTitle}}
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal('Cancel click')"><span
                aria-hidden="true">×</span></button>
    </div>
    <div class="font-bold text-dark">
        <form [formGroup]="gradeForm" (submit)="submit()">
            <div class="modal-body">
                <div class="form-row text-x-small">
                    <div class="form-group col-12 col-md-12 col-sm-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-addon text-dark">
                                    <i class="icofont-badge"></i>
                                </span>
                            </div>
                            <input type="text" name="txtGradeName" id="txtGradeName" formControlName="gradeName" (blur)="logFormErrors()" (input)="logFormErrors()"
                                autocomplete="off" class="form-control form-control-sm" placeholder="Enter Grade Name Here" autofocus="true">
                        </div>
                        <div  class="text-danger">
                            <span *ngIf="formErrors?.gradeName">{{formErrors?.gradeName}}</span>
                            <span *ngIf="server_errors != null">{{server_errors?.exist}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-x-small">
                <button class="btn btn-sm btn-primary btn-rounded" type="submit"
                    [disabled]="gradeForm.invalid || btnSubmit">
                    <span [hidden]="!btnSubmit" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span>
                    <i class="fa fa-paper-plane"></i> | Submit
                </button>
                <button class="btn btn-sm btn-danger btn-rounded" type="button" (click)="closeModal('Cancel click')">
                    <i class="fa fa-times"></i> | Cancel
                </button>
            </div>
        </form>
    </div>
</ng-template>