<ng-template #addLunchRequest let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            <i class="btn btn-sm btn-outline-secondary btn-circle icofont-spoon-and-fork" aria-hidden="true"></i>
            Lunch Details
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal('close click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>

    <div class="modal-body text-x-small font-bold text-dark">
        <div class="ibox ibox-content">
        </div>
    </div>
</ng-template>