<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-8 col-sm-6">
        <h2 @slideInUp class="mt-1"><i class="icofont-list"></i> | Allowance Name & Config</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <strong>Payroll</strong>
            </li>
            <li class="breadcrumb-item">
                <strong>Allowance</strong>
            </li>
            <li class="breadcrumb-item active">
                <strong>Allowance Name & Config</strong>
            </li>
        </ol>
    </div>
    <div class="col-md-4 col-sm-6 text-x-small">
        <div class="title-action pt-3">
            <button type="button" class="btn btn-sm btn-outline-info btn-rounded pull-right" *ngIf="privilege.add"
                tooltip="Make An Allowance" (click)="showModal(0)"> <i class="fa fa-plus"></i> | Allowance
            </button>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content pt-3" id="page-container">
    <div class="row m-t-sm mt-0">
        <div class="col-md-12 mb-4 text-x-small pl-0 pr-0">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li>
                        <a href="#allowanceNameConfig" data-toggle="tab" class="nav-link active">
                            <i class="fa fa-info"></i> | Allowance Name & Config
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="allowanceNameConfig" class="tab-pane active">
                        <div class="ibox shadow-sm">

                        </div>
                        <div class="ibox shadow-sm">
                            <div class="ibox-content pb-1 shadow-sm border-radius-5 text-x-small">
                                <div class="table-responsive">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-container *ngIf="showAllowanceModal">
    <app-payroll-salary-module-allowance-head-name-config-insert-update-modal [id]="id" (closeModalEvent)="hideModal($event)">
    </app-payroll-salary-module-allowance-head-name-config-insert-update-modal>
</ng-container>
