<ng-template #addEncashmentRequest let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      <i class="fa fa-plus-square btn btn-sm btn-success btn-circle" aria-hidden="true"></i>
      {{ isEditMode ? 'Edit' : 'Add' }} Leave Encashment Request
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="closeEncashmentRequestModal('close click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="encashmentForm">
      <div class="mb-3">
        <label for="leaveTypeId" class="form-label">
          <strong>Leave Type </strong><span class="text-danger">*</span>
        </label>
        <ng-select2
          formControlName="leaveTypeId"
          [data]="ddlEncashableLeaveTypes$ | async"
          [placeholder]="'Select A Leave Type ...'"
          [options]="leaveTypeSelect2Options"
          [allowClear]="true"
        ></ng-select2>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn btn-xs btn-danger btn-rounded shadow-lg" type="button" (click)="closeEncashmentRequestModal('Close Click')">
      <i class="fa fa-times"></i> | Cancel
    </button>
    <button class="btn btn-xs btn-success btn-rounded shadow-lg" type="button" (click)="saveEncashmentRequest()">
      <i class="fa fa-save"></i> | Save
    </button>
  </div>
</ng-template>
