<ng-template #uploadPFActivationExcelFileModal let-modal>
    <div class="modal-header text-dark">
        <h4 class="modal-title" id="modal-basic-title">
            <i class="btn btn-sm btn-success btn-circle fa fa-arrow-up" aria-hidden="true"></i>| Upload Excel File
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal('Cross click')" [disabled]="btnUploadExcel">
            <span aria-hidden="true">×</span></button>
    </div>
    <div class="text-x-small font-bold text-dark">
        <form [formGroup]="uploadFormGroup" (ngSubmit)="submitPFActivationUploadExcel()">
            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col-md-12 col-sm-12 text-center">                    
                        <button  type="button" class="text-white btn btn-primary btn-rounded" (click)="downloadPFActivationExcelFile()"><i
                            class="icofont-download"></i> | Download Format</button>
                    </div>                
                    <div class="form-group col-md-12 col-sm-12">
                        <label for="excelFileUpload" class="control-label font-bold" style="visibility: hidden;">Excel</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input id="excelFileUpload" type="file" class="custom-file-input" (change)="excelFileUpload($event)" 
                                accept=".xls,.xlsx">
                                <label class="custom-file-label" for="excelFileUpload">
                                    {{excelFileName}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-primary btn-rounded" type="submit" [disabled]="btnUploadExcel">
                    <i class="fa fa-arrow-circle-o-up"></i> | Upload File
                    <span [hidden]="!btnUploadExcel" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span>
                </button>
                <button class="btn btn-sm btn-danger btn-rounded" type="button"
                    (click)="closeModal('Cancel click')" [disabled]="btnUploadExcel">
                    <i class="fa fa-times"></i> | Cancel
                </button>
            </div>
        </form>
    </div>
</ng-template>

