
   <ng-template #addEmployeeLeaveBalance let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        <i class="fa fa-plus-square btn btn-sm btn-success btn-circle" aria-hidden="true"></i>
        {{ isEditMode ? 'Edit' : 'Add' }} Leave Balance
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="closeAddEmployeeLeaveBalanceModal('close click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
  
    <div class="modal-body">
      <form [formGroup]="leaveBalanceForm" (ngSubmit)="onSubmit()" class="mt-2 text-x-small">
        

       <div class="form-row">
        <div class="form-group col-12 col-lg-6 col-md-6 col-sm-12 pl-0" >
          <label for="leavePeriodStart" class="control-label">
              <strong>Leave Period Start </strong><span class="text-danger">*</span>
          </label>
          <div class="input-group">
              <input type="text" formControlName="leavePeriodStart" id="leavePeriodStart" 
                    class="form-control form-control-sm bg-white rounded"
                    readonly
                    placeholder="Select Leave Period Start Date.. " title="Leave Period Start Date" bsDatepicker
                    [bsConfig]="datePickerConfig">
              <div class="input-group-prepend cursor-pointer border-left-0" title="Remove Date" 
                [hidden]="!leaveBalanceForm.get('leavePeriodStart').value"
                (click)="clearLeaveYearStartDate()">
          
                <span class="input-group-addon text-danger">
                  <i class="fa fa-times"></i>
                </span>
              </div>
          </div>

          <div *ngIf="leaveBalanceForm.get('leavePeriodStart').value == 5 && (this.leaveBalanceForm.get('leavePeriodStart').invalid || (this.leaveBalanceForm.get('leavePeriodStart').value === null && this.leaveBalanceForm.get('leavePeriodStart').dirty))"
                  class="text-danger small">
              <div *ngIf="this.leaveBalanceForm.get('leavePeriodStart').errors?.required">
                  Leave Period Start Date is required.
              </div>
          </div>
        </div>


        <div class="form-group col-12 col-lg-6 col-md-6 col-sm-12" >
          <label for="leavePeriodEnd" class="control-label">
              <strong>Leave Period End </strong><span class="text-danger">*</span>
          </label>
          <div class="input-group">
              <input type="text" formControlName="leavePeriodEnd" id="leavePeriodEnd" 
                    class="form-control form-control-sm bg-white rounded"
                    readonly
                    placeholder="Select Leave Period End Date.. " title="Leave Period End Date" bsDatepicker
                    [bsConfig]="datePickerConfig">
              <div class="input-group-prepend cursor-pointer border-left-0" title="Remove Date" 
                [hidden]="!leaveBalanceForm.get('leavePeriodEnd').value"
                (click)="clearLeaveYearEndDate()">
          
                <span class="input-group-addon text-danger">
                  <i class="fa fa-times"></i>
                </span>
              </div>
          </div>

          <div *ngIf="leaveBalanceForm.get('leavePeriodEnd').value == 5 && (this.leaveBalanceForm.get('leavePeriodEnd').invalid || (this.leaveBalanceForm.get('leavePeriodEnd').value === null && this.leaveBalanceForm.get('leavePeriodEnd').dirty))"
                  class="text-danger small">
              <div *ngIf="this.leaveBalanceForm.get('leavePeriodEnd').errors?.required">
                  Leave Period End Date is required.
              </div>
          </div>
        </div>
       </div>
        
        
        
        <div class="mb-3">
          <label for="employeeId" class="form-label"><strong>Employee </strong><span class="text-danger">*</span></label>
          <ng-select2
            formControlName="employeeId"
            [data]="listOfEmployee"
            name="searchByEmployee"
            id="searchByEmployee"
            [placeholder]="'Select A Employee...'"
            [options]="employeeContactSelect2Options"

           
          >
          </ng-select2>
        </div>
  
        <div formArrayName="leaveBalances">
          <div *ngFor="let leaveBalance of leaveBalances.controls; let i = index" [formGroupName]="i" class="row">
            <div class="form-group col-lg-5 col-md-5 col-sm-5">
              <label for="leaveTypeId" class="form-label"><strong>Leave Type </strong><span class="text-danger">*</span></label>
              <ng-select2
                formControlName="leaveTypeId"
                [data]="ddlleaveTypes | async"
                name="leaveTypeId"
                id="leaveTypeId"
                [placeholder]="'Select Leave Type...'"
                [options]="leaveTypeSelect2Options"
                [allowClear]="true"
              >
              </ng-select2>
              <div *ngIf="leaveBalances.controls[i].get('leaveTypeId').invalid && leaveBalances.controls[i].get('leaveTypeId').touched" class="text-danger">
                Leave Type is required and must be unique.
              </div>
              <div *ngIf="leaveBalanceForm.hasError('duplicateLeaveType', 'leaveBalances')" class="text-danger">
                Duplicate leave types are not allowed.
              </div>
            </div>
  
            <div class="form-group col-lg-5 col-md-5 col-sm-5">
              <label for="totalLeave{{i}}" class="form-label"><strong>Allocated Leave </strong><span class="text-danger">*</span></label>
              <div class="input-group">
                <input id="totalLeave{{i}}" type="number" formControlName="totalLeave" class="form-control form-control-sm font-bold rounded">
              </div>
              <div *ngIf="leaveBalances.controls[i].get('totalLeave').invalid && leaveBalances.controls[i].get('totalLeave').touched" class="text-danger">
                Allocated Leave is required and must be a positive number.
              </div>
            </div>
  
            <div class="mt-4">
              <div class="col-auto align-self-center">
                <button *ngIf="i === leaveBalances.controls.length - 1" type="button" (click)="addLeaveBalance()" class="btn btn-primary btn-sm mr-1"><i class="fa fa-plus"></i></button>
                <button type="button" (click)="removeLeaveBalance(i)" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
              </div>
            </div>
          </div>
        </div>
  
        <div class="d-flex justify-content-start">
          <button type="submit" class="btn btn-success mt-3" [disabled]="!leaveBalanceForm.valid || leaveBalanceForm.hasError('duplicateLeaveType', 'leaveBalances')">
            <i class="fa fa-send"></i>  {{ isEditMode ? 'Update' : 'Submit' }}
          </button>
        </div>
      </form>
    </div>
  
    <div class="modal-footer">
      <button class="btn btn-sm btn-danger btn-rounded shadow-lg" type="button" (click)="closeAddEmployeeLeaveBalanceModal('Close Click')">
        <i class="fa fa-times"></i> | Cancel
      </button>
    </div>
  </ng-template>
  