<ng-template #brandModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            <i class="btn btn-sm btn-circle fa fa-list"></i>| {{modalTitle}}
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal('Cancel click')"><span
                aria-hidden="true">×</span></button>
    </div>
    <div class="font-bold text-dark">
        <form [formGroup]="brandForm" (submit)="submit()">
            <div class="modal-body">
                <div class="form-row text-x-small">
                    <div class="form-group col-12 col-md-6 col-sm-12">
                        <label for="subCategoryId" class="control-label">Sub Category
                            <span class="text-danger">*</span>
                        </label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-addon">
                                    <i class="fa fa-text-height" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div style="width: 90%;">
                                <ng-select2 [data]="ddlSubCategory" name="subCategoryId" id="subCategoryId" formControlName="subCategoryId"
                                    [placeholder]="'--Select Sub Category--'" [options]="select2Options" [allowClear]="true" required >
                                </ng-select2>                                
                            </div>          
                        </div>
                        <!-- <div class="text-danger">
                            <span *ngIf="formErrors?.subCategoryId">{{formErrors?.subCategoryId}}</span>
                        </div> -->
                    </div>
                    <div class="form-group col-12 col-md-6 col-sm-12">
                        <label for="brandName" class="control-label">Brand
                            <span class="text-danger">*</span>
                        </label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-addon">
                                    <i class="fa fa-text-height" aria-hidden="true"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control form-control-sm" (blur)="logFormErrors()" (input)="logFormErrors()"
                            autofocus="true" autocomplete="off" id="brandName" name="brandName" formControlName="name" >
                        </div>
                        <div  class="text-danger">
                            <span *ngIf="formErrors?.name">{{formErrors?.name}}</span>
                            <span *ngIf="server_errors != null">{{server_errors?.exist}}</span>
                        </div>                     
                    </div>                     
                </div>    
                <div class="form-row text-x-small">
                    <div class="form-group col-12 col-md-6 col-sm-12">
                        <label for="brandInBengali" class="control-label">Brand In-Bengali</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-addon">
                                    <i class="fa fa-text-height" aria-hidden="true"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control form-control-sm"  id="brandInBengali"
                                name="brandInBengali" formControlName="nameInBengali">
                        </div>                        
                    </div>
                    <div class="form-group col-12 col-md-6 col-sm-12">
                        <label for="brandIsActive" class="control-label"> Is Active                       
                        </label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-addon ">
                                    <i class="fa fa-check-square" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div class="input-group-prepend">
                                <span class="input-group-addon my-input-group-addon-padding">
                                    <input type="checkbox" name="brandIsActive" id="brandIsActive" formControlName="isActive" />
                                </span>
                            </div>
                            <div class="form-control form-control-sm text-small font-bold">
                                Active ?
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="form-row text-x-small">
                    <div class="form-group col-12 col-md-12 col-sm-12">
                        <label for="brandRemarks" class="control-label">Remarks</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-addon">
                                    <i class="fa fa-text-height" aria-hidden="true"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control form-control-sm" id="brandRemarks"
                                name="brandRemarks" formControlName="remarks">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-x-small">
                <button class="btn btn-sm btn-primary btn-rounded" type="submit"
                    [disabled]="brandForm.invalid || btnSubmit">
                    <span [hidden]="!btnSubmit" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span>
                    <i class="fa fa-paper-plane"></i> | Submit
                </button>
                <button class="btn btn-sm btn-danger btn-rounded" type="button" (click)="closeModal('Cancel click')">
                    <i class="fa fa-times"></i> | Cancel
                </button>
            </div>
        </form>
    </div>
</ng-template>