.pagination-btn {
  border: none;
  border-radius: 20px;
  margin: 0 3px;
  background-color: #3b6bb3; 
  color: #ffffff; 
}

.pagination-btn:hover {
  background-color: #8e44ad; 
  color: #000; 
}

.pagination-btn.active {
  background-color: #3498db; 
  font-size: 1.1em;
  color: #fff; 
  font-weight: bolder;
  z-index: 9999;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.pagination-select {
  border: 1px solid #3b6bb3; 
  border-radius: 20px;
  background-color: #fff; 
  color: #3b6bb3; 
  font-weight: bold;
  font-size: 12px;
  padding: 5px 20px;
  cursor: pointer;
}

.pagination-select:hover {
  background-color: #f0f0f0; 
}

.pagination-select:focus {
  outline: none;
  border-color: #3498db; 
}

.no-data-message {
  background-color: #ecf0f1; 
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px; 
}

.no-data-text {
  color: #c0392b; 
  font-size: 16px; 
}

.total-pages, .page-size {
  color: #3b6bb3;  
  font-size: 1.2em;
}


.first-last-btn {
  background-color: #1A3A99; 
  color: #ffffff; 
}

.first-last-btn:hover {
  background-color: #1A3A99; 
  color: #000000; 
}
