<div class="ibox" *ngFor="let item of listOfEmployeeEducation" @fadeIn>
    <div class="ibox-content bg-white border-radius-5">
        <div class="row">
            <div class=" col-8 col-sm-8 col-md-8">
                <h3 class="font-weight-light mb-1"> <i class="fa fa-graduation-cap"></i> {{item.levelOfEducationName}}
                </h3>
            </div>
            <div class=" col-4 col-sm-4 col-md-4">
                <button type="button" class="btn btn-xs btn-outline-secondary pull-right" title="EDIT"
                    (click)="openModal(item.employeeEducationId)"><i class="fa fa-edit"></i></button>
            </div>
        </div>
        <h5 class="mb-1">Institution: {{item.institutionName}}</h5>
        <p class="mb-1">Subject: {{item.major}} Duration: {{item.duration}}</p>
        <p class="mb-1">Result {{item.result+' out of '+ item.scaleDivisionClass}}</p>
        <p class="mb-1">Passing Year: {{item.yearOfPassing}}</p>
    </div>
</div>
<div class="ibox text-x-small">
    <div class="ibox-footer bg-white border-radius-5">
        <button type="button" class="btn btn-sm btn-outline-primary btn-rounded mb-0" (click)="openModal(0)">
            <i class="fa fa-plus"></i> | Education
        </button>
    </div>
</div>

<ng-container *ngIf="showModal == true && modalObj != null">
    <employee-module-education-insert-update-modal [education]="modalObj" (closeModalEvent)="closeModal($event)">
    </employee-module-education-insert-update-modal>
</ng-container>