<ng-template #requestApprovalModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            <i class="btn btn-sm btn-circle fa fa-diamond"></i>| {{modalTitle}}
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal('Cancel click')"><span
                aria-hidden="true">×</span></button>
    </div>
    <div class="font-bold text-dark">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <form [formGroup]="searchForm">
                        <div class="ibox">
                            <div class="ibox-content border-radius-5 pb-2 text-x-small font-bold">
                                <div class="form-row">
                                    <div class="form-group mb-1 col-md-4 col-sm-12">
                                        <label for="paySlipEmployeeId" class="control-label font-bold">Search
                                            By Employee</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-addon text-dark">
                                                    <i class="fa fa-users"></i>
                                                </span>
                                            </div>
                                            <div style="width: 90%;">
                                                <ng-select2 [data]="ddlEmployee" formControlName="employeeId"
                                                    id="employeeId" [placeholder]="'Select Employee...'"
                                                    [options]="select2Options" [allowClear]="true">
                                                </ng-select2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-1 col-md-4 col-sm-12">
                                        <label for="" class="control-label">Search By Date</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-addon text-dark text-white">
                                                    <i class="fa fa-calendar-check-o"></i>
                                                </span>
                                            </div>
                                            <input type="text" name="transactionDate" id="transactionDate"
                                                formControlName="transactionDate"
                                                class="form-control form-control-sm bg-white"
                                                placeholder="Enter Date Range" bsDaterangepicker
                                                [bsConfig]="datePickerConfig" readonly>
                                            <div class="input-group-prepend cursor-pointer"
                                                *ngIf="this.searchForm.get('transactionDate').value != null"
                                                (click)="this.searchForm.get('transactionDate').setValue(null)">
                                                <span class="input-group-addon text-dark text-danger">
                                                    <i class="fa fa-times"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- *ngIf="userRoll !== 'Account'" -->
                                    <div class="form-group mb-1 col-md-4 col-sm-12" >
                                        <label for="status" class="control-label">Search By Status</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-addon text-dark text-white">
                                                    <i class="fa fa-dot-circle-o"></i>
                                                </span>
                                            </div>
                                            <select name="status" id="status" class="form-control form-control-sm"
                                                formControlName="status">
                                                <option [value]="''" selected>---Select Status---</option>
                                                <option [value]="item" *ngFor="let item of ddlStatus">{{item}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="ibox">
                        <div class="ibox-content shadow-sm bg-white border-radius-5 pt-1 pb-1 text-x-small">
                            <div id="Conveyance" class="table-responsive" *ngIf="transactionType === 'Conveyance'">
                                <table
                                    class="table table-sm table-striped table-hover table-responsive-sm table-responsive-lg"
                                    id="tbl">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#SL</th>
                                            <th>Employee Code</th>
                                            <th>Employee Name</th>
                                            <th>Department Name</th>
                                            <th>Designation Name</th>
                                            <th class="text-center">Transaction Date</th>
                                            <th class="text-center">Reference Number</th>
                                            <th class="text-center">Request Date</th>
                                            <!-- <th>Company Name</th>
                                                <th>Purpose</th> -->
                                            <th>Spend Mode</th>
                                            <!-- <th>Description</th> -->
                                            <th class="text-center">Status</th> 
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of list | paginate: list_pager; let i=index">
                                            <td class="text-center font-bold">{{i+1+(pageSize*(pageNumber-1))}}</td>
                                            <td>{{item.employeeCode}}</td>
                                            <td>{{item.employeeName}}</td>
                                            <td>{{item.departmentName}}</td>
                                            <td>{{item.designationName}}</td>
                                            <td class="text-center">{{item.transactionDate | date: "dd-MMM-yyyy"}}</td>
                                            <td class="text-center">{{item.referenceNumber}}</td>
                                            <td class="text-center">{{item.requestDate | date: "dd-MMM-yyyy"}}</td>
                                            <!-- <td>{{item.companyName}}</td>
                                                <td>{{item.purpose}}</td> -->
                                            <td>{{item.spendMode}}</td>
                                            <td class="text-center" *ngIf="userRoll !== 'Account'">
                                                <span class="label label-danger" *ngIf="item.stateStatus == 'Pending'">Pending</span>
                                                <span class="label label-success" *ngIf="item.stateStatus=='Approved'">Approved</span>
                                                <span class="label label-warning" *ngIf="item.stateStatus=='Rejected'">Rejected</span>
                                            </td>
                                            <td class="text-center" *ngIf="userRoll === 'Account'">
                                                <span class="label label-danger" *ngIf="item.accountStatus == 'Pending'">Pending</span>
                                                <span class="label label-success" *ngIf="item.accountStatus=='Payment'">Payment</span>                                                
                                            </td>
                                            <!-- <td>{{item.description}}</td> -->
                                            <td class="text-center">
                                                <button type="button" class="btn btn-sm" tooltip="View Request"
                                                    (click)="openRequestDetailsModal(item.transactionType,item.requestId,item.employeeId,item.stateStatus)">
                                                    <i class="fa fa-eye"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr *ngIf=" list.length == 0 && list_loading_label == null">
                                            <td colspan="15" class="text-center">
                                                <span class="spinner-border spinner-border-sm" role="status"
                                                    aria-hidden="true"></span>
                                            </td>
                                        </tr>
                                        <tr *ngIf="list.length == 0 && list_loading_label == ''">
                                            <td colspan="15" class="text-center font-bold">
                                                {{list_loading_label}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="d-flex justify-content-end">
                                    <pagination-controls (pageChange)="list_pageChanged($event)" [responsive]="true"
                                        [autoHide]="true" id="list_pager"></pagination-controls>
                                </div>
                            </div>
                            <div id="Travel" class="table-responsive" *ngIf="transactionType === 'Travel'">
                                <table
                                    class="table table-sm table-striped table-hover table-responsive-sm table-responsive-lg"
                                    id="tbl">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#SL</th>
                                            <th class="text-center">Transaction Date</th>
                                            <th class="text-center">Reference Number</th>
                                            <th class="text-center">From Date</th>
                                            <th class="text-center">To Date</th>
                                            <th>Spend Mode</th>
                                            <th>Destination City</th>
                                            <th>Purpose</th>
                                            <th>Transportation</th>
                                            <th class="text-center">Transportation Costs</th>
                                            <th class="text-center">Accommodation Costs</th>
                                            <th class="text-center">Subsistence Costs</th>
                                            <th class="text-center">Other Costs</th>
                                            <th>Description</th>
                                            <th class="text-center">Status</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of list | paginate: list_pager; let i=index">
                                            <td class="text-center font-bold">{{i+1+(pageSize*(pageNumber-1))}}</td>
                                            <td class="text-center">{{item.transactionDate | date: "dd-MMM-yyyy"}}</td>
                                            <td class="text-center">{{item.referenceNumber}}</td>
                                            <td class="text-center">{{item.fromDate | date: "dd-MMM-yyyy"}}</td>
                                            <td class="text-center">{{item.toDate | date: "dd-MMM-yyyy"}}</td>
                                            <td>{{item.spendMode}}</td>
                                            <td>{{item.location}}</td>
                                            <td>{{item.purpose}}</td>
                                            <td>{{item.transportation}}</td>
                                            <td class="text-center">{{item.transportationCosts}}</td>
                                            <td class="text-center">{{item.accommodationCosts}}</td>
                                            <td class="text-center">{{item.subsistenceCosts}}</td>
                                            <td class="text-center">{{item.otherCosts}}</td>
                                            <td>{{item.description}}</td>                                            
                                            <td class="text-center" *ngIf="userRoll !== 'Account'">
                                                <span class="label label-danger" *ngIf="item.stateStatus == 'Pending'">Pending</span>
                                                <span class="label label-success" *ngIf="item.stateStatus=='Approved'">Approved</span>
                                                <span class="label label-warning" *ngIf="item.stateStatus=='Rejected'">Rejected</span>
                                            </td>
                                            <td class="text-center" *ngIf="userRoll === 'Account'">
                                                <span class="label label-danger" *ngIf="item.accountStatus == 'Pending'">Pending</span>
                                                <span class="label label-success" *ngIf="item.accountStatus=='Payment'">Payment</span>                                                
                                            </td>
                                            <td class="text-center">
                                                <button type="button" class="btn btn-sm" tooltip="Edit Request"
                                                    (click)="openRequestDetailsModal(item.transactionType,item.requestId,item.employeeId,item.stateStatus)"
                                                    *ngIf="item.stateStatus=='Pending'">
                                                    <i class="fa fa-eye"></i>
                                                </button>

                                            </td>
                                        </tr>
                                        <tr *ngIf=" list.length == 0 && list_loading_label == null">
                                            <td colspan="15" class="text-center">
                                                <span class="spinner-border spinner-border-sm" role="status"
                                                    aria-hidden="true"></span>
                                            </td>
                                        </tr>
                                        <tr *ngIf="list.length == 0 && list_loading_label == ''">
                                            <td colspan="15" class="text-center font-bold">
                                                {{list_loading_label}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="d-flex justify-content-end">
                                    <pagination-controls (pageChange)="list_pageChanged($event)" [responsive]="true"
                                        [autoHide]="true" id="list_pager"></pagination-controls>
                                </div>
                            </div>
                            <div id="Entertainment" class="table-responsive"
                                *ngIf="transactionType === 'Entertainment' || transactionType === 'Purchase'">
                                <table
                                    class="table table-sm table-striped table-hover table-responsive-sm table-responsive-lg"
                                    id="tbl">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#SL</th>
                                            <th class="text-center">Transaction Date</th>
                                            <th class="text-center">Reference Number</th>
                                            <th class="text-center">Request Date</th>
                                            <th>Purpose</th>
                                            <th>Description</th>
                                            <th>Spend Mode</th>
                                            <th class="text-center">Status</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of list | paginate: list_pager; let i=index">
                                            <td class="text-center font-bold">{{i+1+(pageSize*(pageNumber-1))}}</td>
                                            <td class="text-center">{{item.transactionDate | date: "dd-MMM-yyyy"}}</td>
                                            <td class="text-center">{{item.referenceNumber}}</td>
                                            <td class="text-center">{{item.requestDate | date: "dd-MMM-yyyy"}}</td>
                                            <td>{{item.purpose}}</td>
                                            <td>{{item.entertainment}}</td>
                                            <td>{{item.spendMode}}</td>
                                            <td class="text-center" *ngIf="userRoll !== 'Account'">
                                                <span class="label label-danger" *ngIf="item.stateStatus == 'Pending'">Pending</span>
                                                <span class="label label-success" *ngIf="item.stateStatus=='Approved'">Approved</span>
                                                <span class="label label-warning" *ngIf="item.stateStatus=='Rejected'">Rejected</span>
                                            </td>
                                            <td class="text-center" *ngIf="userRoll === 'Account'">
                                                <span class="label label-danger" *ngIf="item.accountStatus == 'Pending'">Pending</span>
                                                <span class="label label-success" *ngIf="item.accountStatus=='Payment'">Payment</span>                                                
                                            </td>
                                            <td class="text-center">
                                                <button type="button" class="btn btn-sm" tooltip="Edit Request"
                                                    (click)="openRequestDetailsModal(item.transactionType,item.requestId,item.employeeId,item.stateStatus)"
                                                    *ngIf="item.stateStatus=='Pending'">
                                                    <i class="fa fa-eye"></i>
                                                </button>

                                            </td>
                                        </tr>
                                        <tr *ngIf=" list.length == 0 && list_loading_label == null">
                                            <td colspan="15" class="text-center">
                                                <span class="spinner-border spinner-border-sm" role="status"
                                                    aria-hidden="true"></span>
                                            </td>
                                        </tr>
                                        <tr *ngIf="list.length == 0 && list_loading_label == ''">
                                            <td colspan="15" class="text-center font-bold">
                                                {{list_loading_label}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="d-flex justify-content-end">
                                    <pagination-controls (pageChange)="list_pageChanged($event)" [responsive]="true"
                                        [autoHide]="true" id="list_pager"></pagination-controls>
                                </div>
                            </div>
                            <div id="Expat" class="table-responsive" *ngIf="transactionType === 'Expat'">
                                <table
                                    class="table table-sm table-striped table-hover table-responsive-sm table-responsive-lg"
                                    id="tbl">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#SL</th>
                                            <th class="text-center">Transaction Date</th>
                                            <th class="text-center">Reference Number</th>
                                            <th class="text-center">Request Date</th>
                                            <th>Description</th>
                                            <th>Spend Mode</th>
                                            <th class="text-center">Status</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of list | paginate: list_pager; let i=index">
                                            <td class="text-center font-bold">{{i+1+(pageSize*(pageNumber-1))}}</td>
                                            <td class="text-center">{{item.transactionDate | date: "dd-MMM-yyyy"}}</td>
                                            <td class="text-center">{{item.referenceNumber}}</td>
                                            <td class="text-center">{{item.requestDate | date: "dd-MMM-yyyy"}}</td>
                                            <td>{{item.description}}</td>
                                            <td>{{item.spendMode}}</td>
                                            <td class="text-center" *ngIf="userRoll !== 'Account'">
                                                <span class="label label-danger" *ngIf="item.stateStatus == 'Pending'">Pending</span>
                                                <span class="label label-success" *ngIf="item.stateStatus=='Approved'">Approved</span>
                                                <span class="label label-warning" *ngIf="item.stateStatus=='Rejected'">Rejected</span>
                                            </td>
                                            <td class="text-center" *ngIf="userRoll === 'Account'">
                                                <span class="label label-danger" *ngIf="item.accountStatus == 'Pending'">Pending</span>
                                                <span class="label label-success" *ngIf="item.accountStatus=='Payment'">Payment</span>                                                
                                            </td>
                                            <td class="text-center">
                                                <button type="button" class="btn btn-sm" tooltip="Edit Request"
                                                    (click)="openRequestDetailsModal(item.transactionType,item.requestId,item.employeeId,item.stateStatus)"
                                                    *ngIf="item.stateStatus=='Pending'">
                                                    <i class="fa fa-eye"></i>
                                                </button>

                                            </td>
                                        </tr>
                                        <tr *ngIf=" list.length == 0 && list_loading_label == null">
                                            <td colspan="15" class="text-center">
                                                <span class="spinner-border spinner-border-sm" role="status"
                                                    aria-hidden="true"></span>
                                            </td>
                                        </tr>
                                        <tr *ngIf="list.length == 0 && list_loading_label == ''">
                                            <td colspan="15" class="text-center font-bold">
                                                {{list_loading_label}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="d-flex justify-content-end">
                                    <pagination-controls (pageChange)="list_pageChanged($event)" [responsive]="true"
                                        [autoHide]="true" id="list_pager"></pagination-controls>
                                </div>
                            </div>
                            <div id="Training" class="table-responsive" *ngIf="transactionType === 'Training'">
                                <table
                                    class="table table-sm table-striped table-hover table-responsive-sm table-responsive-lg"
                                    id="tbl">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#SL</th>
                                            <th class="text-center">Transaction Date</th>
                                            <th class="text-center">Reference Number</th>
                                            <!-- <th class="text-center">Request Date</th> -->
                                            <th>Institution Name</th>
                                            <th>Course</th>
                                            <!-- <th>Description</th> -->
                                            <th class="text-center">Admission Date</th>
                                            <th>Duration</th>
                                            <th>Purpose</th>
                                            <th>Costs</th>
                                            <th class="text-center">Status</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of list | paginate: list_pager; let i=index">
                                            <td class="text-center font-bold">{{i+1+(pageSize*(pageNumber-1))}}</td>
                                            <td class="text-center">{{item.transactionDate | date: "dd-MMM-yyyy"}}</td>
                                            <td class="text-center">{{item.referenceNumber}}</td>
                                            <!-- <td class="text-center">{{item.requestDate | date: "dd-MMM-yyyy"}}</td> -->
                                            <td>{{item.institutionName}}</td>
                                            <td>{{item.course}}</td>
                                            <!-- <td>{{item.description}}</td> -->
                                            <td class="text-center">{{item.admissionDate | date: "dd-MMM-yyyy"}}</td>
                                            <td>{{item.duration}}</td>
                                            <td>{{item.trainingCosts}}</td>
                                            <td>{{item.purpose}}</td>
                                            <td class="text-center" *ngIf="userRoll !== 'Account'">
                                                <span class="label label-danger" *ngIf="item.stateStatus == 'Pending'">Pending</span>
                                                <span class="label label-success" *ngIf="item.stateStatus=='Approved'">Approved</span>
                                                <span class="label label-warning" *ngIf="item.stateStatus=='Rejected'">Rejected</span>
                                            </td>
                                            <td class="text-center" *ngIf="userRoll === 'Account'">
                                                <span class="label label-danger" *ngIf="item.accountStatus == 'Pending'">Pending</span>
                                                <span class="label label-success" *ngIf="item.accountStatus=='Payment'">Payment</span>                                                
                                            </td>
                                            <td class="text-center">
                                                <button type="button" class="btn btn-sm" tooltip="Edit Request"
                                                    (click)="openRequestDetailsModal(item.transactionType,item.requestId,item.employeeId,item.stateStatus)"
                                                    *ngIf="item.stateStatus=='Pending'">
                                                    <i class="fa fa-eye"></i>
                                                </button>

                                            </td>
                                        </tr>
                                        <tr *ngIf=" list.length == 0 && list_loading_label == null">
                                            <td colspan="15" class="text-center">
                                                <span class="spinner-border spinner-border-sm" role="status"
                                                    aria-hidden="true"></span>
                                            </td>
                                        </tr>
                                        <tr *ngIf="list.length == 0 && list_loading_label == ''">
                                            <td colspan="15" class="text-center font-bold">
                                                {{list_loading_label}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="d-flex justify-content-end">
                                    <pagination-controls (pageChange)="list_pageChanged($event)" [responsive]="true"
                                        [autoHide]="true" id="list_pager"></pagination-controls>
                                </div>
                            </div>

                            <div class="table-responsive" *ngIf="transactionType === ''">
                                <h3 class="select-type-message">Please select type</h3>
                            </div>
                            <div class="table-responsive text-center stylish-container" *ngIf="list_loading_label && transactionType != ''">
                                <h3 class="select-type-message">{{list_loading_label}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer text-x-small pb-2">
            <button class="btn btn-sm btn-danger btn-outline btn-rounded" type="button"
                (click)="closeModal('Cancel click')">
                <i class="fa fa-times"></i> | Cancel
            </button>
        </div>
    </div>
</ng-template>

<ng-container *ngIf="showRequestDetailsModal">
    <expense-reimbursement-module-request-approval-details-modal [transactionType]="transactionType"
        [requestId]="requestId" [employeeId]="employeeId" [stateStatus]="stateStatus" (closeModalEvent)="closeRequestDetailsModal($event)">
    </expense-reimbursement-module-request-approval-details-modal>
</ng-container>