<ng-template #editWalletPaymentConfigModal let-modal>    
    <div class="modal-header">
        <h4 class="modal-title pl-2 mt-1" id="modal-basic-title">
            <i class="icofont-money border-right"></i> | {{modalTitle}}
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal('Cancel click')"><span
                aria-hidden="true">×</span></button>
    </div>

    <form [formGroup]="editWalletPaymentConfigForm" (ngSubmit)="updateWalletPaymentConfig()">
        <div class="modal-body text-x-small">
            <div class="form-row">
                <div class="form-group col-md-12 col-sm-12"> 
                    <label for="internalDesignations" class="control-label font-bold">
                        Internal Designation Name
                    </label>                   
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-addon">
                                <i class="icofont-briefcase"></i>
                            </span>
                        </div>
                        <div style="width:90%">
                            <ng-select2 [data]="ddlInternalDesignations" name="internalDesignations"
                                formControlName="internalDesignationId" id="internalDesignations"
                                [options]="select2Options" required>
                            </ng-select2>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-6 col-sm-12">
                    <label for="activationDate" class="control-label font-bold">Select Activation Date</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-addon text-dark">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div> 
                        <input type="text" name="activationDate" id="activationDate" formControlName="activationDate"
                        class="form-control form-control-sm bg-white" readonly placeholder="Select Activation Date ..."
                        title="Activation Date" bsDatepicker [bsConfig]="datePickerConfig" autocomplete="off">   
                        <div class="input-group-prepend cursor-pointer border-left-0" title="Remove Date"
                        [hidden]="editWalletPaymentConfigForm.get('activationDate').value == null"
                        (click)="activationDate_changed()">
                        <span class="input-group-addon text-danger">
                            <i class="fa fa-times"></i>
                        </span>
                    </div>                                   
                    </div>
                </div>
                <div class="form-group col-md-6 col-sm-12">
                    <label for="deactivationDate" class="control-label font-bold">Select Deactivation Date</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-addon text-dark">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div> 
                        <input type="text" name="deactivationDate" id="deactivationDate" formControlName="deactivationDate"
                        class="form-control form-control-sm bg-white" readonly placeholder="Select Deactivation Date ..."
                        title="Deactivation Date" bsDatepicker [bsConfig]="datePickerConfig" autocomplete="off">    
                        <div class="input-group-prepend cursor-pointer border-left-0" title="Remove Date"
                        [hidden]="editWalletPaymentConfigForm.get('deactivationDate').value == null"
                        (click)="deactivationDate_changed()">
                        <span class="input-group-addon text-danger">
                            <i class="fa fa-times"></i>
                        </span>
                    </div>                                  
                    </div>
                </div>
                
                <div class="form-group col-md-6 col-sm-12">
                    <label for="baseOfPayment" class="control-label font-bold">Base Of Payment</label>
                    <div class="input-group">
                        <select name="baseOfPayment" class="form-control form-control-sm"
                            formControlName="baseOfPayment">
                            <option [value]="'Flat'" selected>Flat</option>
                            <option [value]="'Gross'">Gross</option>
                            <option [value]="'Basic'">Basic</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-6 col-sm-12">
                    <label for="walletFlatAmount" class="control-label font-bold">Enter Amount</label>
                    <div class="input-group">                     
                        <ng-container *ngIf="editWalletPaymentConfigForm.controls.baseOfPayment.value=='Flat'">
                            <div class="input-group-prepend">
                                <span class="input-group-addon text-dark">
                                    <i>&#2547;</i>
                                </span>
                            </div>
                            <input type="number" formControlName="walletFlatAmount"
                                class="form-control form-control-sm" name="walletFlatAmount" id="walletFlatAmount">
                        </ng-container>
                        <ng-container *ngIf="editWalletPaymentConfigForm.controls.baseOfPayment.value!='Flat'">
                            <div class="input-group-prepend">
                                <span class="input-group-addon text-dark">
                                    %
                                </span>
                            </div>
                            <input type="number" formControlName="walletTransferPercentage"
                            class="form-control form-control-sm" name="walletTransferPercentage">
                        </ng-container>                       
                    </div>
                </div>
                <div class="form-group col-md-6 col-sm-12">
                    <label for="isActive" class="control-label font-bold">Active Status</label>
                    <div class="input-group">
                    <div class="input-group-prepend">
                            <span class="input-group-addon my-input-group-addon-padding">
                                <input type="checkbox" name="isActive" id="isActive"
                                    formControlName="isActive">
                            </span>
                        </div>
                        <div class="form-control form-control-sm text-small font-bold">
                            Is Active?
                        </div> 
                    </div>
                </div>

                <div class="form-group col-md-6 col-sm-12">
                    <label for="cocInWalletTransferPercentage" class="control-label font-bold">COC In Wallet Percentage (%)</label>
                    <div class="input-group">                  
                        <ng-container>
                            <div class="input-group-prepend">
                                <span class="input-group-addon text-dark">
                                    %
                                </span>
                            </div>
                            <input type="number" formControlName="cocInWalletTransferPercentage"
                            class="form-control form-control-sm" name="cocInWalletTransferPercentage">
                        </ng-container>                       
                    </div>
                </div>

                <div class="form-group col-md-12 col-sm-12">
                    <label for="remarks" class="control-label font-bold">Remarks</label>
                        <div class="input-group">                      
                        <div class="input-group-prepend">
                            <span class="input-group-addon text-dark">
                                <i class="fa fa-comment"></i>
                            </span>
                        </div>                               
                        <input type="text" class="form-control form-control-sm bg-white" id="remarks"
                        name="remarks" formControlName="remarks">  
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer p-2  text-x-small">
            <button type="submit" class="btn btn-sm btn-outline btn-rounded btn-primary" [disabled]="editWalletPaymentConfigForm.invalid || btnEditWalletPaymentConfig">
                <i class="fa fa-paper-plane"></i> | Update
            </button>
            <button type="button" class="btn btn-sm btn-outline btn-rounded btn-danger" (click)="closeModal('Cancel click')" [disabled]="btnEditWalletPaymentConfig"><i
                    class="fa fa-times"></i> | Cancel </button>
        </div>
    </form>



</ng-template>
