<div class="login-wrapper-bg form-login-body bg-white" @fadeIn>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto login-desk">
                <div class="row">
                    <div class="col-md-7 detail-box">
                        <!-- <img class="logo" src="assets/img/Svg/recom_logo.svg" alt=""> -->
                        <div class="detailsh">
                            <img class="help" src="assets/img/forgot_password-cuate.png" height="370">
                            <h5>© Copyright 2021-{{year}}, All rights reserved</h5>
                            <p class="text-dark">Developed & Maintained By <a href="https://www.recombd.com"
                                    target="_blank"> <i>Recom Consulting
                                        Limited</i></a></p>
                        </div>
                    </div>
                    <div class="col-md-5 loginform">
                        <h4>Forget Password</h4>
                        <!-- <p class="mb-0">Type your email in the input box</p> -->
                        <div class="justify-content-center">
                            <img class="rounded-circle img-lg"
                                src="assets/img/undraw_Forgot_password_re_hxwm - Copy.png" />
                        </div>
                        <div class="login-det">
                            <form #userForgetPasswordForm="ngForm" (ngSubmit)="1==1">
                                <div class="form-row">
                                    <label for="username">Email</label>
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text" id="basic-addon1">
                                                <i class="fa fa-envelope-square"></i>
                                            </div>
                                        </div>
                                        <input type="email" id="email" name="email" #emailRef="ngModel"
                                            [(ngModel)]="emailAddress" class="form-control mb-0" autofocus
                                            placeholder="Enter Email" aria-label="email" aria-describedby="basic-addon1"
                                            autocomplete="off" appCustomEmailValidator required>
                                    </div>
                                    <div *ngIf="emailRef.invalid && (emailRef.dirty || emailRef.touched)"
                                        class="text-danger">
                                        <div *ngIf="emailRef.errors.required">Email is required.</div>
                                        <div *ngIf="emailRef.errors.invalidEmail">Invalid email format.</div>
                                    </div>
                                </div>
                                <div class="form-row justify-content-center">
                                    <div class="form-row justify-content-center">
                                        <button type="submit" class="btn btn-sm btn-danger" style="width: 100px;"
                                            [disabled]="userForgetPasswordForm.invalid" (click)="sendOTP()">
                                            Send OTP
                                            <span class="spinner-border spinner-border-sm" [class.hide]="!btnSendOTP"
                                                role="status" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="form-row justify-content-center">
                                    <div class="userInput">
                                        <!-- <input type="text" name="otp1" id="ist" class="otp" maxlength="1"
                                            onkeyup="clickEvent(this,'sec')" autocomplete="off" #OTPBox1Ref="ngModel"
                                            [(ngModel)]="OTPBox1" (keyup)="otp_marged()"
                                            [disabled]="this.emailAddress == '' || this.token == ''">
                                        <input type="text" id="sec" name="otp2" class="otp" maxlength="1"
                                            onkeyup="clickEvent(this,'third')" autocomplete="off" #OTPBox2Ref="ngModel"
                                            [(ngModel)]="OTPBox2" (keyup)="otp_marged()"
                                            [disabled]="this.emailAddress == '' || this.token == ''">
                                        <input type="text" id="third" class="otp" name="otp3" maxlength="1"
                                            onkeyup="clickEvent(this,'fourth')" autocomplete="off" #OTPBox3Ref="ngModel"
                                            [(ngModel)]="OTPBox3" (keyup)="otp_marged()"
                                            [disabled]="this.emailAddress == '' || this.token == ''">
                                        <input type="text" id="fourth" class="otp" name="otp4" maxlength="1"
                                            onkeyup="clickEvent(this,'fifth')" autocomplete="off" #OTPBox4Ref="ngModel"
                                            [(ngModel)]="OTPBox4" (keyup)="otp_marged()"
                                            [disabled]="this.emailAddress == '' || this.token == ''">
                                        <input type="text" id="fifth" class="otp" maxlength="1" name="otp5"
                                            #OTPBox5Ref="ngModel" [(ngModel)]="OTPBox5" (keyup)="otp_marged()"
                                            autocomplete="off" [disabled]="this.emailAddress == '' || this.token == ''"> -->
                                        <input type="text" name="systemOTP" id="systemOTP" [(ngModel)]="systemOTP"
                                            #systemOTPRef="ngModel" placeholder="Enter OTP Here" class="form-control text-center border-radius-5" 
                                            [disabled]="this.emailAddress == '' || this.token == ''" (keyup)="otp_changed()" (input)="otp_changed()" />
                                    </div>
                                </div>

                                <div class="form-row justify-content-center">
                                    <button type="button" class="btn btn-sm btn-primary btn-rounded"
                                        (click)="verifyOTP()" style="width: 100px;"
                                        [disabled]=" this.systemOTP.length < 5 || this.emailAddress == '' || this.emailAddress == null || this.token == '' || this.token == null || isEmailVerified == false || btnVerifyOTP">
                                        Verify OTP <span class="spinner-border spinner-border-sm"
                                            [class.hide]="!btnVerifyOTP" role="status" aria-hidden="true"></span>
                                    </button>
                                </div>
                                <br>
                                <p class="forget text-small"><a [routerLink]="['/login']">Back To Login?</a></p>
                            </form>
                            <div class="social-link hide">
                                <ul class="socil-icon">
                                    <li>
                                        <a href="#"><i class="fa fa-facebook-f"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-dribbble"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-behance"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>